div {
    margin: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 100px;
    font-family: sans-serif, Verdana, Tahoma;
    color: yellow;
}

a {
    border: 2px solid yellow;
    padding: 10px 10px;
    border-radius: 30px;
    color: yellow;
    font-family: sans-serif, Verdana, Tahoma;
    text-decoration: none;
}

a:hover {
    background: yellow;
    color: blue;
}

h2 {
    text-align: center;
    font-family: sans-serif, Verdana, Tahoma;
    color: yellow;
    margin-top: 100px;
}

body {
    background: url('FundoPaginacao.jpg');
    background-size: cover;
}